dtd/deployment.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT deployment (param*, platform+)>

<!ELEMENT platform (param*, nem+)>
<!ATTLIST platform
          name CDATA #IMPLIED
          id CDATA #REQUIRED
          definition NMTOKEN #IMPLIED>

<!ELEMENT nem (param*)>
<!ATTLIST nem
          name CDATA #IMPLIED
          id CDATA #REQUIRED
          definition NMTOKEN #IMPLIED>

<!ENTITY % param SYSTEM "param.dtd">
%param;
